{extend name="pub/base" /}
{block name="title"}
<title>熊掌推送</title>
{/block}
{block name="body"}
<article class="Hui-admin-page-container">
    <form class="form form-horizontal" action="" method="post" enctype="multipart/form-data">
        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>起始书籍ID
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="start" required="" autocomplete="off" class="input-text">
            </div>
        </div>
        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>结束书籍ID
            </label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="end" required="" autocomplete="off" class="input-text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <input type="submit" class="layui-btn" value="提交">
        </div>
    </form>
</article>
{/block}