{extend name="pub/base" /}
{block name="title"}
<title>自动分割</title>
{/block}

{block name="body"}
<article class="clearfix pd-20">
    <form class="form form-horizontal" action="{:url('split')}" method="post" enctype="multipart/form-data">
        <input type="hidden" value="{$book_id}" name="book_id">
        <input type="hidden" value="{$returnUrl}" name="returnUrl">
        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3">小说文件</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="file" name="content" class="input-text">
            </div>
        </div>

        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3">目录文件</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="file" name="index" class="input-text">
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
{/block}